.Nav_Style {
  .home, .interno {
    background-color: rgba(0, 0, 0, 0.886);
  }
  .interno {
    padding: .2rem 1rem .3rem;
  }
  .externo {
    padding: 0rem 1rem;
    background-color: aquamarine;
  }
}
