.Nav_Style {
  padding: 0rem .5rem;
  .home {
    padding: 0rem 0rem;
  }
  .interno {
    padding: 1rem 1rem;
    background-color: rgb(0, 0, 0, 0.85)
  }
  .externo {
    padding: 0rem 1rem;
    background-color: aquamarine;
  }
}
