@import '../../variables.scss';

.HeaderStyle {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  .HeaderTitulo {
    color: $color-background;
    font-size: 30px;
  }
}
