.activeClass, .inactiveClass {
  padding: 0rem .2rem;
  background-color: rgb(0, 0, 0);
}
.activeClass {
  color: yellowgreen;
  border: 1px solid yellowgreen;
}
.inactiveClass {
  color: white;
  &:hover {
    border-bottom: 1px solid rgb(208, 211, 202);
  }
}
