.activeClass, .inactiveClass {
  margin-inline: 0.15rem .2rem;
  padding: 0rem .2rem;
}
.activeClass {
  color: yellowgreen;
  border-bottom: 1px solid rgb(208, 211, 202);
}
.inactiveClass {
  color: rgb(227, 227, 227);
  border-bottom: 1px solid rgba(92, 92, 92, 0.628);
  &:hover {
    border-bottom: 1px solid rgb(208, 211, 202);
  }
}
