.CardStyle {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 200px;
  padding: .8rem;
  display: grid;
  grid-template-rows: .35fr auto .35fr;
  grid-template-columns: 100%;
  .CardTitle {
    padding: 5px 0px;
  }
  .CardBody {
    border-top: 1px solid #ddd;
    padding: 5px 0px;
  }
  .CardFooter {
    padding-top: 5px;
    border-top: 1px solid #ddd;
  }
}
